{% extends 'base.html' %}
{% block title %}Register — MedLink{% endblock %}
{% block content %}

<h2>Patient Registration</h2>
<form method="post">
  {% csrf_token %}
  <p>
    <label>Username</label><br>
    <input type="text" name="username" required>
  </p>
  <p>
    <label>Email</label><br>
    <input type="email" name="email" required>
  </p>
  <p>
    <label>Password</label><br>
    <input type="password" name="password" required>
  </p>
  <p>
    <label>Phone Number</label><br>
    <input type="tel" name="phone_number">
  </p>
  <button type="submit">Register</button>
</form>

<p><a href="{% url 'login' %}">Already have an account? Login</a></p>
<p><a href="{% url 'register_pharmacy' %}">Registering a pharmacy instead?</a></p>

{% endblock %}
